<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-12 col-sm-12 mt-4">
            <div class="card shadow-sm bg-white rounded " style="width: 35rem;">
                <img class="card-img-top" src="../assets/abuelo.jpeg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                   <hr class="hr-card " >
                    <p class="card-text"></p>
                    <a href="#" class="boton-cards ">LEER MAS <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 mt-4">
            <div class="card shadow-sm bg-white rounded" style="width: 35rem;">
                <img class="card-img-top" src="../assets/abuelo-2.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                   <hr class="hr-card " >
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content. Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                     </p>
                    <a href="#" class="boton-cards ">LEER MAS <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
        </div>

       
    </div>
</div>