<div class="container mt-5 mb-5" style="font-family: Montserrat;">
    <div >
      <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filtrar">
      </mat-form-field>
    </div>
      <div class="mat-elevation-z2">
      
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" style="font-family: Montserrat;" filter:searchText>
        
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.numerarioId}} </td>
              </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="dni">
                <th mat-header-cell *matHeaderCellDef>DNI</th>
                <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
              </ng-container>

              <ng-container matColumnDef="birthdate">
                <th mat-header-cell *matHeaderCellDef>Fecha nacimiento</th>
                <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
              </ng-container>

              <ng-container matColumnDef="discapacidad">
                <th mat-header-cell *matHeaderCellDef>Discapacidad</th>
                <td mat-cell *matCellDef="let element"> {{element.typeDisc}} </td>
              </ng-container>
           
  
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> ACTIONS</th>
              <td mat-cell *matCellDef="let element"> 
                <a href="/admin/numerario/edit/{{element.typeId}}" class="text-info p-2 fs-4"><i class="fa-solid fa-pencil"></i></a>
                <a  class="btn basura text-danger p-2 fs-4" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-trash-can"></i></a> 
  
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿DESEA ELIMINAR?</h5>
                        <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal">
                          
                        </button>
                      </div>
                      <div class="modal-body" style="overflow: hidden;">
                        No podrá recuperar de nuevo los datos de ninguna manera.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                        <button (click) ="deleteNumerario(element.numerarioId)" type="button" class="btn btn-danger" data-dismiss="modal">ELIMINAR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              
            </ng-container>
           
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
          
          </div>
          
        </div>
        <a routerLink="/admin/numerario/new" class="btn btn-primary align-rigth mt-3">Crear nuevo</a>
  </div>
  