<div class="container">
    <h1 class="text-center">Noticias Afadima</h1>
    <hr>
    <div class="row">
        <div class="col-xl-6 col-md-12 col-sm-12 mt-4" *ngFor="let noticia of noticias">
            <div class="card shadow-sm bg-white rounded" style="width:100%;">
                <img class="card-img-top" src="{{imagenesUrl+noticia.imgUrl}}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">{{noticia.title}}</h5>
                   <hr class="hr-card">
                    <p class="card-text">{{noticia.description}}</p>
                    <a href="{{noticia.id}}" class="boton-cards ">LEER MAS <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>