<footer>

    <div class="footer-content pb-2">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-2 d-flex justify-content-center mt-2 mb-2"
            style="font-size:12px;color: #c7c6cb;">
            <div class="col text-center">
                <div class="p-2">TRANSPARENCIA</div>
            </div>
            <div class="col text-center">
                <div class="p-2 border-start ">AVISO LEGAL</div>
            </div>
            <div class="col text-center">
                <div class="p-2 border-start ">POLITICA DE PRIVACIDAD</div>
            </div>
            <div class="col text-center">
                <div class="p-2 border-start ">POLITICA DE COIKIES</div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-2 d-flex justify-content-center "
            style="font-size:12px;color: #c7c6cb;">
            <div class="col text-center">
                <div class="p-2 ">© Copyright 2019 - 2022 AFADIMA</div>
            </div>
            <div class="col text-center">
                <div class="p-2 border-start ">TODOS LOS DERECHOS RESERVADOS</div>
            </div>
            <div class="col text-center">
                <div class="p-2 border-start ">WEB DONADA FLORIDA</div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-2 d-flex justify-content-center mt-2">
            <div class="col text-center ">
                <a href="https://www.facebook.com/afadima.manises.1" role="button"><img src="../assets/facebook.svg" alt="" style="width: 40px;"></a>
            </div>
        </div>
    </div>
</footer>
