<footer class="">

    <div class="container-fluid footer-content p-2 mt-3">
<footer>
    <div class="container-fluid footer-content p-3 mt-3">
        <div class="row  justify-content-center mt-2 mb-2"
            style="font-size:12px;color: #c7c6cb;">
            <div class="col-md-3 text-center">
                <div class=""><a href="https://www.afadima.org/transparencia/">TRANSPARENCIA</a></div>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <div class=" border-start"><a href="https://www.afadima.org/aviso-legal/">AVISO LEGAL</a></div>
            </div>
            <div class="col-md-3  text-center">
                <div class=" border-start "><a href="https://www.afadima.org/politica-de-privacidad/">POLITICA DE PRIVACIDAD</a></div>
            </div>
            <div class="col-md-3 text-center">
                <div class=" border-start "><a href="https://www.afadima.org/politica-de-cookies/">POLITICA DE COIKIES</a></div>
            </div>
        </div>
        <div class="row  text-center "
            style="font-size:12px;color: #c7c6cb;">
            <div class="col text-center hover-text-orange"  style="color:gray;">
                <div class="border-start "><a class="hover">© Copyright 2019 - 2022 AFADIMA</a></div>
            </div>
            <div class="col text-center"  style="color:gray;">
                <div class=" border-start "><a class="hover">TODOS LOS DERECHOS RESERVADOS</a></div>
            <div class="col text-center">
                <div class="">© Copyright 2019 - 2022 AFADIMA</div>
            </div>
            <div class="col text-center">
                <div class=" border-start "><a href="https://www.floridauniversitaria.es/es-ES/Paginas/FloridaUniversitaria.aspx?Perfil=Florida%20Universitaria">WEB DONADA FLORIDA</a></div>
            </div>
        </div>
        <div class="row   text-center mt-2">
            <div class="col text-center ">
                <a href="https://www.facebook.com/afadima.manises.1" role="button"><img src="../assets/facebook.svg" alt="" style="width: 40px;"></a>
            </div>
        </div>
    </div>
    </div>
</footer>
