<footer>

    <div class="container-fluid footer-content">
        <div class="row  justify-content-center mt-2 mb-2"
            style="font-size:12px;color: #c7c6cb;">
            <div class="col-md-3 text-center">
                <div class="">TRANSPARENCIA</div>
            </div>
            <div class="col-md-3 text-center">
                <div class=" border-start ">AVISO LEGAL</div>
            </div>
            <div class="col-md-3 text-center">
                <div class=" border-start ">POLITICA DE PRIVACIDAD</div>
            </div>
            <div class="col-md-3 text-center">
                <div class=" border-start ">POLITICA DE COIKIES</div>
            </div>
        </div>
        <div class="row  text-center "
            style="font-size:12px;color: #c7c6cb;">
            <div class="col text-center">
                <div class=" ">© Copyright 2019 - 2022 AFADIMA</div>
            </div>
            <div class="col text-center">
                <div class=" border-start ">TODOS LOS DERECHOS RESERVADOS</div>
            </div>
            <div class="col text-center">
                <div class=" border-start ">WEB DONADA FLORIDA</div>
            </div>
        </div>
        <div class="row   text-center mt-2">
            <div class="col text-center ">
                <a href="https://www.facebook.com/afadima.manises.1" role="button"><img src="../assets/facebook.svg" alt="" style="width: 40px;"></a>
            </div>
        </div>
        
    </div>
</footer>
