

.footer-content{
    font-family:Montserrat;
    background-color: #f0f0f0;


}
footer{
    background-color: #f0f0f0;
}
a{ 
    text-decoration:none;
    color: gray;
}

a:hover{
    color: #ffa96d;
}
.hover:hover{
    color: #ffa96d;
}